<div class = "container">
<h1> Stupid Coach </h1>
<div>
<br>
<b>the question is:</b>
  </div>
    <div>
    <br>
    <em><%= @question =%></em>
  </div>
  <br>
  <div>
  <b>the answer is:</b>
    </div>
  <div>
    <br>
  <em><%= @answer=%></em>
  </div>
  <br>
 <button type="button" class="btn btn-light"><a href="/ask">Ask Again </a> </button>
 </container>


