<div class="question-div">
  <p><%= @question.capitalize %></p>
  <p class="person">-You</p>
</div>

<div class="answer-div">
  <p class="answer"><%= @answer %></p>
  <p class="person">-Your coach</p>
</div>
 <button type="button" class="btn btn-light"><a href="/ask">Ask Again </a> </button>
