<form action="/answer" method="get">
  <div class="form-group">
    <label for="question">What is your question?</label>
    <input type="text" id="question" name="question" placeholder="enter question here" class="form-control">
  </div>
  <input type="submit" value="Ask question!" class="btn btn-primary">
</form>

