<div class = "container">
<h1> Stupid Coach </h1>
<br>
<h3> Ask the coach? <h3>
<form action="answer">
  <input type="text" class= "form-group inline-text" name="question">
  <br>
  <br>
  <button type="submit" class="btn btn-dark" value="Ask the Coach!">Ask the Coach!</button>
</form>
</container>
